# Python cache files
__pycache__/
*.pyc

# Local virtual environments
.venv/
venv/

# Python package metadata
*.egg-info/

# VSCode settings
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# Local environment configs
.env
.env.*

# State
state/

# Manually ignored files
*.ignore